$color-primary: #344955;
$color-primary-dark: #232f34;
$color-primary-light: #4a6572;
$color-secondary: #f9aa33;
$color-white: #fafafa;
$color-black: #000000;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
